.hmm__dropbox {
    margin: 50px auto;
    padding: 32px;
    position: relative;

    &_clear,
    &_del {
        position: absolute;
        left: 290px;
        top: 35px;
        border-radius: 0.25rem;
        background-color: rgb(218, 218, 218);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        height: 25px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        display: none;
        &:hover {
            background-color: #fff;
            border-color: #bdbdbd;
            outline: 0;
            box-shadow: 13px 7px 39px -2px rgba(0, 0, 0, 0.22);
        }
    }
    &_del {
        left: 350px;
    }

    &_selectBox {
        position: relative;
        display: flex;
        width: 250px;
        flex-direction: column;

        .hmm__option .radio {
            display: none;
        }

        .hmm__option:hover {
            background: #ececec;
            border-radius: 5px;
            color: #a5a5a5;
        }

        input {
            border-radius: 0.25rem;
            background-color: rgb(218, 218, 218);
            opacity: 0;
            position: absolute;
            z-index: 100;
            padding: 0.375rem 0.75rem;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: black;
            background-clip: padding-box;
            border: none;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
            outline: 0;
            margin-top: 15px;

            &::placeholder {
                color: #212529;
                opacity: 0.4;
            }

            &:focus {
                background-color: #fff;
                border-color: #bdbdbd;
                outline: 0;
                box-shadow: 13px 7px 39px -2px rgba(0, 0, 0, 0.22);
            }
        }
    }
}

.hmm__option,
.hmm__selected {
    padding: 12px 24px;
    cursor: pointer;
}

.hmm__selected {
    color: #000;
    border-radius: 0.25rem;
    padding: 10px 25px;
    font-weight: 500;
    background-color: rgb(218, 218, 218);
    position: relative;
    order: 0;

    &:hover {
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
            7px 7px 20px 0px rgba(0, 0, 0, 0.1),
            4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    &:after {
        content: "\f106";
        position: absolute;
        right: 20px;
        font-family: "Font Awesome 5 free";
        font-weight: 700;
        color: black;
        transform: rotateX(180deg);
        transition: all 0.4s;
    }
}

.hmm__option_container {
    background: white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    color: rgb(56, 52, 52);
    opacity: 0;
    pointer-events: none;
    margin-top: 50px;
    // position: absolute;

    &::-webkit-scrollbar-thumb {
        background: #464749;
        border-radius: 8px;
    }

    &::-webkit-scrollbar {
        background: #888;
        border-radius: 8px;
        width: 7px;
    }
}

.hmm__search-box input {
    pointer-events: none;
}

.active {
    opacity: 1;
    max-height: 240px;
    overflow-y: scroll;
    transition: all 0.4s;
    pointer-events: all;

    & ~ .hmm__selected::after {
        transform: rotateY(180deg);
    }

    & ~ .hmm__search-box input {
        opacity: 1;
        pointer-events: all;
    }
}
