.dropdown__group {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.dropdown {
    position: relative;

    &__selected {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: 0 20px 0 10px;
        font-size: 14px;
        border: 1px solid red;
        position: relative;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
        &::after {
            top: calc(50% - 2px);
            right: 10px;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            border-top-color: #000;
            border-width: 4px;
            margin-left: -4px;
        }
        &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
    }

    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid red;
        border-top: 0;
        background-color: #fff;
        z-index: 5;
        display: none;

        &_items {
            max-height: 210px;
            overflow-y: auto;
        }

        &_search {
            display: block;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #000;
            padding: 12px;
            outline: 0;
            background-color: #f9f9f9;
        }

        &_item {
            padding: 10px;
            border-bottom: 1px solid #000;
            font-size: 14px;
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: yellowgreen;
            }

            .selected,
            .selected:hover {
                background-color: lightblue;
            }
        }
    }
}
