.hmm__checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: rgb(218, 218, 218);
        border-radius: 0.2rem;
        transition: all 0.25s ease-in-out;
    }

    &:hover + label:before {
        background-color: rgb(158, 233, 161);
    }

    &:focus + label:before {
        box-shadow: 13px 7px 39px -2px rgba(0, 0, 0, 0.22);
    }

    &:checked + label:before {
        background: rgb(158, 233, 161);
        transform: scale(1.13);
    }

    &:disabled + label {
        color: #b8b8b8;
        cursor: default;
    }

    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }

    // &:checked + label:after {
    //     content: "";
    //     position: absolute;
    //     left: 5px;
    //     top: 9px;
    //     background: black;
    //     width: 2px;
    //     height: 2px;
    //     box-shadow: 2px 0 0 rgb(15, 15, 15), 4px 0 0 rgb(15, 15, 15),
    //         4px -2px 0 rgb(15, 15, 15), 4px -4px 0 rgb(15, 15, 15),
    //         4px -6px 0 rgb(15, 15, 15), 4px -8px 0 rgb(15, 15, 15);
    //     transform: rotate(45deg);
    // }
}

.hmm__radio {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    & + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        border: 4px solid transparent;
        background: rgb(218, 218, 218);
        border-radius: 20px;
        transition: all 0.25s ease-in-out;
    }

    &:hover + label:before,
    &:focus + label:before,
    &:checked + label:before {
        background-color: rgb(158, 233, 161);
        box-shadow: 13px 7px 39px -2px rgba(0, 0, 0, 0.22);
    }

    &:checked + label:before {
        transform: scale(1.13);
    }

    &:disabled + label {
        color: #b8b8b8;
        cursor: default;
    }

    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }
}

.hmm__switcher {
    position: relative;
    width: 130px;
    height: 30px;
    border-radius: 25px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 13px 7px 39px -2px rgba(0, 0, 0, 0.22);

    input {
        appearance: none;
        position: relative;
        width: 130px;
        height: 30px;
        border-radius: 25px;
        background-color: rgb(145, 145, 145);
        outline: none;

        &:before,
        &:after {
            z-index: 2;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            color: rgb(158, 233, 161);
        }
        &:before {
            content: "ON";
            left: 20px;
        }
        &:after {
            content: "OFF";
            right: 20px;
        }

        transition: background-color 0s 0.5s;
        &:before {
            color: rgb(145, 145, 145);
        }
        &:after {
            color: rgb(158, 233, 161);
        }
        &:checked {
            background-color: rgb(158, 233, 161);
            & + label {
                background: rgb(158, 233, 161);

                animation: turn-on 0.5s ease-out;

                @keyframes turn-on {
                    0% {
                        left: 100%;
                    }
                    100% {
                        left: 0%;
                    }
                }
            }
        }
        &:not(:checked) {
            background: rgb(145, 145, 145);
            & + label {
                background: rgb(145, 145, 145);

                animation: turn-off 0.5s ease-out;

                @keyframes turn-off {
                    0% {
                        right: 100%;
                    }
                    100% {
                        right: 0%;
                    }
                }
            }
        }
    }
    label {
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: 10px;
        border-radius: 20px;
        top: 0px;
        width: 130px;
        height: 30px;
        border-radius: 25px;
    }
}
