@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./normalize.scss";

//input
@import "./input/input.scss";
//button
@import "./button/button.scss";
//dropdown
@import "./dropDown/dropdown.scss";
//radio&check
@import "./radio_checkox/radio_checkbox.scss";

* {
    font-family: "Poppins", sans-serif;
}

body h1 {
    text-align: center;
    margin: 20px auto;
}

.nav {
    width: 80%;
    margin: 20px auto;
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    &__btn {
        cursor: pointer;
        font-size: 40px;
        font-weight: 500;
        color: #000;
    }
}

.description {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    display: block;
}

.container {
    width: 90%;
    margin: 20px auto;
    display: none;
    &__wrap {
        margin-bottom: 60px;
        border-bottom: 1px solid transparent;
    }
}

.hmm__inputgroup {
    &-input {
        width: 200px;
        height: 30px;
    }

    &-label {
        width: max-content;
        height: 40px;
    }
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
